<!-- 
<div class="container">
        <div class="card col-md-9 mx-auto" id="Logincard" >
           
     
    <form #Login="ngForm" (ngSubmit)="onSubmit(Login)" >
        <div class="login-form">
     <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <label >Username</label>
            <input type="text" name="userName" [ngModel]="login.userName" class="form-control"  #uname="ngModel" required >
           <div *ngIf="uname.invalid &&  isValid"  class="Warning">
            <div *ngIf="uname.errors?.required" [ngClass] = "'error'"> 
			  Name required. 
           </div>
        </div>
      
           <br>
                <label >Password</label>
                <input type="text" name="pwd" [ngModel]="login.pwd" class="form-control"  #pwd="ngModel"  required >
                <div *ngIf="pwd.invalid && isValid" class="Warning">
                <div *ngIf="pwd.errors?.required" [ngClass] = "'error'"> 
			    pASS required. 
                </div>
            </div>
          
            </div>

  <button type="submit" class="text-center" >Submit</button>


</div>

    </form>

</div>
</div> -->
<form class="login-form" #loginForm="ngForm" [style.fontSize.px]="20">
    <div class="login-block">
      <div class="row">
        <mat-form-field class="login-input-full-width">
          <input matInput placeholder="User Id" [(ngModel)]="user.userId" name="userId" id="userId" required minlength="5" maxlength="10"
            #userId="ngModel" class="inputId">
          <mat-error *ngIf="userId.invalid">User Id: must be minimum 5 and 10 characters long</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="login-input-full-width">
          <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" id="password" required
            #password="ngModel" class="inputPass">
          <mat-error *ngIf="password.invalid">Password is mandatory</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <button class="login-user" type="submit" mat-raised-button (click)="loginUser()" color="primary" >Login</button>
      </div>
    </div>
  </form>